@import "../../../../variables";
@import "../../../../fonts";
@import "../../../../mixins";

section {
  position: relative;
  margin-top: 7rem;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/intro/bright-star.svg");
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: center;
  }

  //Temporary disabled
  // .stars-container {
  //   overflow: hidden;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 1;
  // }

  .intro-content-wrapper {
    margin-top: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    .starting-content {
      position: relative;
      padding-left: 13px;
      padding-right: 13px;
      text-align: center;
      z-index: 2;

      .artist-name {
        opacity: 0;
        color: $main-color;
        font-weight: 500;
        line-height: 1.3;
        font-size: $large-font-below-576;
      }

      .artist-slogan {
        position: relative;
        bottom: 10px;
        background: linear-gradient(90deg, $main-color, #e4c988, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        // text-fill-color: transparent;
        animation: fadeIn 3s ease-in-out;
        font-size: 28px;

        @keyframes fadeIn {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }

      .artist-short-info {
        background: linear-gradient(90deg, $main-color, #e4c988, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-top: 1.5rem;
        color: $description-color;
        font-size: 24px;
      }

      %common-text-styles {
        font-size: 16px;
        line-height: 1.7;
        letter-spacing: 0.5px;
      }

      .artist-info {
        margin-top: 1rem;

        & div {
          @extend %common-text-styles;
        }

        div:nth-child(odd) {
          color: $description-color;
        }

        div:nth-child(even) {
          color: $main-color;
        }
      }
    }

    .artist-photo-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 18rem;
      aspect-ratio: 1 / 1.3;

      .artist-image {
        object-fit: cover;
        transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
        border-radius: 25px;

        &:hover {
          box-shadow: 0 0 10px 3px $main-color;
          filter: brightness(1.1);
        }
      }
    }
  }

  .divider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    .highlight-icon-wrapper {
      position: relative;
      width: 15rem;
      height: 5rem;
      left: 8px;
    }
  }

  .blur-container {
    display: flex;
    justify-content: center;
    align-items: center;

    // .blur {
    //   position: absolute;
    //   width: 10rem;
    //   height: 2rem;
    //   border-radius: 50%;
    //   background: $main-color;
    //   background: #00DBCD;
    //   background: #08b208;
    //   z-index: 1000;
    //   // top: 90%;
    //   // left: 42%;
    //   filter: blur(89px);
    // }
  }

}

@media (min-width: 768px) {
  section {
    position: static;

    .intro-content-wrapper {
      flex-direction: row;
      justify-content: space-between;
      gap: 25px;

      .starting-content {
        text-align: left;
        top: 2rem;
        padding: 0;

        .artist-name {
          font-size: $large-font-below-576;
        }

        .artist-slogan {
          font-size: $medium-font-below-576;
        }

        .artist-short-info {
          margin-top: 1.5rem;
          font-size: 22px;
        }

        .media-icons-container {
          justify-content: flex-start;
          align-items: flex-start;

          .media-icons-first-row {
            flex-direction: row;
            position: relative;
            right: 0.5rem;
          }
        }
      }

      .artist-photo-wrapper {
        max-width: 17rem;
      }

      .contact-button-wrapper {
        position: relative;
        right: 4px;
        margin-top: 1rem;
      }
    }
  }
}

@media (min-width: 992px) {
  section {
    position: relative;

    .intro-content-wrapper {
      padding-left: 25px;
      padding-right: 15px;

      // .starting-content {
      //   .about-info {
      //     font-size: 224px;
      //   }
      // }

      .artist-photo-wrapper {
        max-width: 21rem;
      }
    }

    .divider-container {
      margin-top: 5rem;
    }
  }
}

@media (min-width: 1200px) {
  section {
    .intro-content-wrapper {
      padding-left: 45px;
      padding-right: 45px;

      .artist-photo-wrapper {
        max-width: 22rem;
      }
    }
  }
}

@media (min-width: 1400px) {
  section {
    .intro-content-wrapper {
      margin-top: 6rem;
      padding-left: 40px;
      padding-right: 40px;

      .starting-content {
        .artist-name {
          font-size: 38px;
        }

        .artist-slogan {
          font-size: 30px;
        }

        .artist-short-info {
          font-size: 26px;
        }

        .artist-info {
          & div {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  section {
    margin-top: 9rem;
  }
}