@import "../../../variables";
@import "../../../fonts";

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  font-family: "Jost", sans-serif;
  background-color: $navbar-background-color;

  .artist-special-name {
    position: relative;
    top: 3px;
    font-family: "EyeSome", sans-serif;
    font-size: 19px;
    color: $main-color;
    text-decoration: none;
  }

  .hamburger-menu {
    position: absolute;
    top: 11px;
    right: 20px;
    background: none;
    border: none;
    color: $main-color;
    font-size: 28px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      color: #ffd057;
      transform: rotate(90deg);
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background-color: $navbar-background-color;
    color: $main-color;
    padding: 30px;
    transition: right 0.4s ease-in-out;
    z-index: 1000;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    nav {
      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 22px 0;

          a {
            color: $main-color;
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
            transition: color 0.3s ease, transform 0.3s ease;
            font-family: "Montserrat";
          }
        }
      }
    }

    &.open {
      right: 0;
    }

    .close-btn {
      background: none;
      border: none;
      color: gray;
      font-size: 40px;
      cursor: pointer;
      margin-bottom: 20px;
      transition: transform 0.3s ease;

      &:hover {
        filter: brightness(1.2);
        color: $main-color;
      }
    }

    .sidebar-icons {
      position: absolute;
      bottom: 30px;
      left: 30px;
      display: flex;
      flex-direction: row;
      gap: 13px;

      .icon-container {
        width: 23px;
        height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 23px;
          height: 23px;
          cursor: pointer;
          color: $main-color;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .translation-icon {
    position: relative;
    right: 36px;
    top: 3px;
  }
}

@media (min-width: 392px) {
  .navbar-container {
    .artist-special-name {
      font-size: 21px;
    }
  }
}

@media (min-width: 576px) {
  .navbar-container {
    .artist-special-name {
      font-size: 26px;
    }

    .hamburger-menu {
      top: 14px;
    }

    .translation-icon {
      top: 6px;
    }
  }
}

@media (min-width: 768px) {
  .navbar-container {
    .artist-special-name {
      font-size: 26px;
    }

    .hamburger-menu {
      top: 15px;
    }

    .translation-icon {
      top: 7px;
    }
  }
}

@media (min-width: 992px) {
  .navbar-container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .artist-special-name {
      position: relative;
      top: 0;
      font-size: 22px;

      &:hover {
        filter: brightness(1.1);
        cursor: pointer;
      }
    }

    .navbar-content {
      .navbar-menu {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        gap: 26px;

        li {
          position: relative;

          a {
            font-size: 20px;
            color: $main-color;


            &:hover {
              filter: brightness(1.1);
              cursor: pointer;
            }

            &.active {
              text-decoration: none;
            }
          }

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $main-color;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.3s ease;
          }

          &:hover:after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }

    .translation-icon {
      top: 0;
      left: 0;
    }
  }
}

@media (min-width: 1200px) {
  .navbar-container {
    .artist-special-name {
      font-size: 26px;
    }

    .navbar-content {
      .navbar-menu {
        gap: 30px;

        li {
          a {
            font-size: 21px;
          }
        }
      }
    }
  }
}