@import "../../../variables";
@import "../../../fonts";
@import "../../../mixins";

.activity-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  .portfolio-section-title {
    @include portfolio-section-title();
  }
}

@media (min-width: 100px) and (max-width: 380px) {
  .activity-container {
    margin-top: 2rem;
  }
}

@media (min-width: 381px) and (max-width: 765px) {
  .activity-container {
    margin-top: 1rem;
  }
}

@media (min-width: 766px) and (max-width: 3500px) {
  .activity-container {
    margin-top: 3rem;
  }
}
