@import "../../../variables";
@import "../../../mixins";
@import "../../../fonts";

.contact-container {
  margin-bottom: 3rem;
  background-image: url("../../assets/heart.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .portfolio-section-title {
      @include portfolio-section-title();
    }
  }

  .contact-info {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 25px;

    .contact-details {
      .contact-email,
      .contact-location {
        margin-bottom: 0.5rem;
        font-size: 20px;
        color: $main-color;
      }
    }
  }
}

.author-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  color: $description-color;
  line-height: 1.6;
  letter-spacing: 0.5px;
  padding-left: 20px;
  padding-right: 20px;

  .author {
    position: relative;
    top: 1rem;
    color: $main-color;
    font-size: 24px;
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .contact-container {
    padding: 40px;
    background-position: 30% 26%;

    .contact-info {
      .contact-details {
        .contact-email,
        .contact-location {
          font-size: 24px;
        }
      }
    }
  }
}
