@import "../../../variables";
@import "../../../mixins";
@import "../../../fonts";

.contact-container {
  margin-bottom: 3rem;
  background-image: url("../../assets/contact/stars-bg-two.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 42% 10% 5%;
  padding-bottom: 2rem;

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .portfolio-section-title {
      @include portfolio-section-title();
      position: relative;
      bottom: 10px;
    }
  }

  .contact-info {
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .contact-details {

      .contact-email,
      .contact-location {
        margin-bottom: 0.5rem;
        font-size: 20px;
        color: $main-color;
      }
    }
  }
}

.author-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  color: $description-color;
  line-height: 1.6;
  letter-spacing: 0.5px;
  padding-left: 20px;
  padding-right: 20px;

  .author {
    position: relative;
    top: 1rem;
    color: $main-color;
    font-size: 24px;
  }
}

@media (min-width: 576px) {
  .contact-container {
    background-image: url("../../assets/contact/stars-bg.png");
  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  .contact-container {


    .title-container {
      .portfolio-section-title {
        @include portfolio-section-title();
        bottom: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .contact-container {
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-position: 30% 19%;

    .title-container {
      position: relative;
      bottom: 0.5rem;
    }

    .contact-info {
      .contact-details {

        .contact-email,
        .contact-location {
          font-size: 25px;
        }
      }
    }
  }
}