@import "../../../variables";

.activity-card {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 1px solid darken($main-color, 30%);
  padding: 0.5rem;
  gap: 1rem;
  position: relative;
  margin: 18px;

  .card-content-wrapper {
    order: 2;
    padding: 0.5rem;
    text-align: center;

    .activity-title {
      color: $main-color;
    }

    .activity-desc {
      text-align: justify;
      max-height: 250px;
      color: $description-color;
      margin-top: 2rem;
      font-size: 15px;
    }

    .activity-logo img {
      margin-top: 3rem;
      position: relative;
      left: 8px;
      max-width: 190px;
      height: auto;

      img {
        object-fit: contain;
      }
    }

    .activity-card-btn-wrapper {
      & button {
        border: 1px solid darken($main-color, 30%);
      }
    }
  }

  .activity-image {
    position: relative !important;
    border-radius: 25px;
    padding: 0.8rem;
  }

  .activity-video {
    height: auto;
    max-width: 100%;
    border-radius: 25px;
    padding: 10px;
  }
}

@media (min-width: 392px) and (max-width: 767px) {
  .activity-card {
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 1rem;
    gap: 1rem;

    .card-content-wrapper {
      .activity-title {
        font-size: 1.5rem;
      }

      .activity-desc {
        font-size: 15px;
      }

      .activity-logo img {
        max-width: 200px;
      }
    }

    .activity-video {
      padding: 5px;
    }

    .activity-image {
      padding: 0.6rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .activity-card {
    max-width: 550px;
    height: auto;
    padding: 1.5rem;
    gap: 1.5rem;
    margin: 20px;

    .card-content-wrapper {
      .activity-title {
        font-size: 1.9rem;
      }

      .activity-desc {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .activity-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 25px;
    gap: 3rem;
    border: 1px solid darken($main-color, 35%);

    .card-content-wrapper {
      order: 1 !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      text-align: center;

      .activity-title {
        font-size: 1.9rem;
      }

      .activity-desc {
        text-align: justify;
        max-height: 200px;
        color: $description-color;
        font-size: 17px;
      }
    }

    .card-content-wrapper,
    .activity-image {
      padding: 1rem;
    }

    &:nth-child(odd) {
      .card-content-wrapper {
        order: 2;
      }
      .activity-image {
        order: 1;
      }
    }

    .activity-image {
      border-radius: 35px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      max-width: 35rem;
      border: 1px solid darken($main-color, 40%);

      &:hover {
        transform: scale(1) rotate(1deg);
        box-shadow: 0 0 10px 1px $main-color;
      }
    }

    .activity-video {
      width: 47%;
      height: auto;
      border-radius: 25px;
      padding: 0;
    }
  }
}
