@import "../../../variables";
@import "../../../fonts";

.activity-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 40px 15px;
  background-color: $activity-card-background-color;

  .card-content-wrapper {
    order: 2;
    padding: 0.5rem;
    text-align: center;

    .activity-title {
      color: $main-color;
    }

    .activity-desc {
      margin-top: 2rem;
      text-align: left;
      color: $description-color;
      font-size: 15px;
      padding: 10px;
      text-align: center;
    }

    .activity-logo img {
      // margin-top: 1.5rem;
      position: relative;
      left: 8px;
      max-width: 190px;
      height: auto;

      img {
        object-fit: contain;
      }
    }
  }

  .activity-image {
    position: relative !important;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 0;
    cursor: pointer;
  }

  .activity-video {
    height: auto;
    max-width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}

@media (min-width: 392px) and (max-width: 767px) {
  .activity-card {
    width: 100%;
    height: auto;

    .card-content-wrapper {
      .activity-title {
        font-size: 1.7rem;
      }

      .activity-desc {
        font-size: $small-font;
      }

      .activity-logo img {
        margin-top: 2rem;
        max-width: 200px;
      }
    }

    .activity-image {
      padding: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .activity-card {
    max-width: 550px;
    height: auto;
    gap: 1.5rem;

    .card-content-wrapper {
      .activity-title {
        font-size: 1.8rem;
      }

      .activity-desc {
        font-size: $small-font;
      }
    }
  }
}

@media (min-width: 1200px) {
  .activity-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 25px;
    gap: 2rem;
    border: 1px solid darken($main-color, 40%);

    .card-content-wrapper {
      order: 1 !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      text-align: center;

      .activity-title {
        font-size: 1.8rem;
      }

      .activity-desc {
        text-align: justify;
        color: $description-color;
        font-size: $small-font;
        line-height: 1.6;
      }
    }

    .card-content-wrapper,
    .activity-image {
      padding: 1rem;
      position: relative;
      top: 3.5rem;
    }

    &:nth-child(odd) {
      .card-content-wrapper {
        order: 2;
      }
      .activity-image {
        order: 1;
      }
    }

    .activity-image {
      border-radius: 35px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      max-width: 35rem;

      &:hover {
        transform: scale(1) rotate(1deg);
        box-shadow: 0 0 10px 1px $main-color;
      }
    }

    .activity-video {
      width: 47%;
      height: auto;
      border-radius: 25px;
      padding: 0;
    }
  }
}