@import "../../../variables";
@import "../../../fonts";
@import "../../../mixins";

.about-container {
  margin-top: 3rem;
  .portfolio-section-title {
    @include portfolio-section-title();
  }

  .about-description {
    margin-top: 2rem;
    padding-left: 24px;
    padding-right: 24px;
    color: $description-color;
    font-size: 19px;
    line-height: 1.6;
    text-align: center;

    %common-text-styles {
      font-size: 19px;
      line-height: 1.6;
      letter-spacing: 0.5px;
    }
  }
}

@media (min-width: 1200px) {
  .about-container {
    margin-top: 5rem;
  }
}

@media (min-width: 1600px) {
  .about-container {
    .about-description {
      .carousel-container {
        flex-direction: row;
        gap: 40rem;
        justify-content: center;
      }
    }
  }
}
