@import "../../../variables";
@import "../../../fonts";
@import "../../../mixins";

.about-container {
  margin-top: 2rem;
  .portfolio-section-title {
    @include portfolio-section-title();
  }

  .about-description {
    margin-top: 2rem;
    text-align: center;
    font-size: $small-font;

    .animate-from-left,
    .animate-from-right {
      display: block;
      opacity: 0;
    }
  }
}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {
  .about-container{
    margin-top: 5rem;
  }
}

