@import "../../../variables";
@import "../../../fonts";
@import "../../../mixins";

.container {
  padding-left: 0;
  padding-right: 0;

  .about-container {
    margin-top: 3rem;

    .portfolio-section-title {
      @include portfolio-section-title();
    }

    .about-description {
      background-color: #0d1114;
      color: $description-color;
      border-radius: 15px;
      margin-top: 2rem;
      padding: 1.1rem 24px;
      font-size: 17px;
      line-height: 1.6;
      text-align: left;

      // %common-text-styles {
      //   font-size: 19px;
      //   line-height: 1.5;
      //   letter-spacing: 0.5px;
      // }
    }
  }
}

@media (min-width: 492px) {
  .about-container {
    .about-description {
      text-align: justify;
      border-radius: 15px;
    }
  }
}

@media (min-width: 1200px) {
  .about-container {
    margin-top: 5rem;

    .about-description {
      text-align: justify;
    }
  }
}

@media (min-width: 1600px) {
  .about-container {
    .about-description {
      .carousel-container {
        flex-direction: row;
        gap: 40rem;
        justify-content: center;
      }
    }
  }
}