@import "../../../mixins";

.media-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 6px;

  .media-icons-first-row {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

    .media-icons-wrapper {
      position: relative;
      width: 2.4rem;
      height: 2.4rem;
      transition: transform 0.4s;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      .highlight-logo {
        position: relative;
        bottom: 6px;
        right: 6px;
      }

      .music-talents-logo {
        position: relative !important;
        left: -5px !important;
        height: 98% !important;
      }
    }
  }
}

@media (min-width: 768px) {
 
}
