@import "../../../mixins";
@import "../../../variables";
@import "../../../fonts";

.c-container {
  margin-top: 9rem;
  // background-image: url("../../assets/43.jpg");
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  .portfolio-section-title {
    @include portfolio-section-title();
  }

  .certificates-container {
    margin-top: 1rem;
    position: relative;
    text-align: center;

    & img {
      border-radius: 20px;
      margin: 10px;
      cursor: pointer;
      transition: transform 0.3s ease, filter 0.3s ease;

      &:hover {
        transform: scale(1.05);
        filter: brightness(1.2);
      }
    }
  }
}

@media (max-width: 564px) {
  .certificates-container {
    & img {
      width: 300px;
      height: 200px;
    }
  }
}

@media (min-width: 200px) and (max-width: 379px) {
  .c-container {
    position: relative;
    margin-top: 6rem;
  }
}

@media (min-width: 380px) and (max-width: 564px) {
  .c-container {
    position: relative;
    bottom: 8rem;
  }
}

@media (min-width: 565px) and (max-width: 3200px) {
  .c-container {
    position: relative;
    bottom: 7rem;
  }
}
