.certificates-container {
  position: relative;
  top: 5rem;
  text-align: center;

  & img {
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      transform: scale(1.05);
      filter: brightness(1.2);
    }
  }
}
