@import "../../../../variables";
@import "../../../../fonts";
@import "../../../../mixins";

.activity-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: $section-gap;

  .portfolio-section-title {
    @include portfolio-section-title();
  }
}
