//Mobile devices <576px
$large-font-below-576: 33px;
$medium-font-below-576: 24px;
$small-font-below-576: 18px;

//Small devices >576px
$medium-font-above-576: 44px;


//Medium devices >768px
//Large devices >992px
//Extra large devices >1200px
//Others
$large-font: 30px;
$medium-font: 26px;
$small-font: 18px;
$section-title-font: 36px;
