$main-color: #cca752;
$description-color: #aeb0bc;
$portfolio-background-color: #06080a;
$navbar-background-color: #0d1114;
$activity-card-background-color: #0d1114;
$footer-background-color: #0d1114;